  <header class="p-3 mb-3 border-bottom bg-light">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{{ path('app_dashboard_index') }}" class="d-flex align-items-center mb-2 me-3 mb-lg-0 link-body-emphasis text-decoration-none {{ app.user ? '' : 'disabled' }}">
            <h2 class="fw-bold">BEKOWR</h2>
        </a>

        {% if app.user %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {# <li><a href="{{ path('app_donation_countries_index') }}" class="nav-link px-2 link-dark">Pays</a></li> #}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link px-2 link-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Donation
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ path('app_donation_index') }}">Donations</a></li>
                  <li><a class="dropdown-item" href="{{ path('app_claim_index') }}">Réclamations</a></li>
                </ul>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link px-2 link-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Paramètres
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_user_index') }}">Utilisateur</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_bank_index') }}">Banques</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_donor_index') }}">Donateurs</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_beneficiary_index') }}">Pays - Villes - Localisations</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_beneficiary_index') }}">Beneficiaires</a></li>
                  </ul>
            </li>
            </li>
          </ul>
        {% endif %}


        {# <form class="col-12 form-inline col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Recherche..." aria-label="Search">
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-search"></i>
          </button>
        </form> #}

      {% if app.user %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ asset('assets/img/user-1.png') }}" alt="mdo" width="42" height="42" class="rounded-circle">
            {{ app.user.username }}
          </a>
          <ul class="dropdown-menu text-small">
            {# <li><a class="dropdown-item" href="{{ path('app_user_ch_password', {'id': app.user.id}) }}">Modifier mot de passe</a></li> #}
            
            {#Rectif YGH 04/02 ------ Suppression en double gestion datas users 
            <li><a class="dropdown-item" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier mot de passe</a></li>
            <li><a class="dropdown-item" href="#">Paramètre</a></li>#}
            
            
            <li><a class="dropdown-item" href="{{ path('app_user_show', {'id': app.user.id}) }}">Informations</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Terminer</a></li>
            </ul>
        </div>
      {% endif %}
      </div>
    </div>
  </header>