{% extends "_partials/_modalContent.html.twig" %}

{% block modal_title %}
   <i class="ri ri-fingerprint-2-fill"></i> Modifier mot de passe de <span class="fw-semibold">[{{ user.username }}]</span>
{% endblock %}

{% block modal_body %}

    {% include "_partials/_alert.html.twig" %}

    {{ form_start(form, {'attr': {'autocomplete': 'off',
        'data-controller': 'form-ajax',
        'data-form-ajax-url-value': path('app_admin_ch_password', {'id': user.id}),
        'data-form-ajax-target': 'form',
        'id': 'form'
    }}) }}
        {{ form_widget(form) }}
        <div class="pb-0">
            <button id="button" {{ stimulus_action('form-ajax', 'sendForm') }}
                    class="btn btn-success" type="submit">
                <i class="fa fa-save" aria-hidden="true"></i>
                Enregistrer
            </button>
            <a href="{{ path('app_user_index') }}" class="btn btn-light">
                <i class="bi bi-arrow-left" aria-hidden="true"></i>
                Annuler
            </a>
        </div>
    {{ form_end(form) }}
{% endblock %}


