<table class="table table-striped border-1 border-bottom" {{ stimulus_controller('modal') }}>
	<thead class="table-dark">
		<tr>
			<th>Code</th>
			<th>Nom(s)</th>
			<th>Prénom(s)</th>
			<th>Email</th>
			<th>Statut</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>
					{# {{ user.extCode }} #}
				</td>
				<td>
					{{ user.lastName }}
				</td>
				<td>
					{{ user.firstName }}
				</td>
				{# <td>
					{% for role in user.userRoles %}
						<span class="badge bg-primary">{{ role.description }}</span>
					{% endfor %}
				</td> #}
				<td>
					<a href="mailto:{{ user.email }}">{{ user.email|slice(0, 10) }}...</a>
				</td>
				<td></td>
				<td>
					<div class="dropdown dropstart">
						<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Action
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path( 'app_user_show', { id: user.id } ) }}">
									Détails Info. Utilisateur
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path( 'app_user_edit', { id: user.id } ) }}">
									Modifier les informations
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item"
								   href="{{ path( 'app_admin_ch_password', { id: user.id } ) }}"
								   {{ stimulus_controller('modal', { url: path( 'app_admin_ch_password', { id: user.id }) }) }}
								   data-action="modal#show" data-bs-toggle="modal" data-bs-target="#ExtralargeModal"
								   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Modifier le mot de passe"
								>
                        			Modifier le mot de passe
                    			</a>
                		</li>
            		</ul>
        		</div>
{#						<a href="{{ path( 'app_user_show', { id: user.id } ) }}" class="btn btn-info btn-sm">#}
{#							<i class="bi bi-eye"></i>#}
{#						</a>#}
{#						<a href="{{ path( 'app_user_edit', { id: user.id } ) }}" class="btn btn-success btn-sm">#}
{#							<i class="bi bi-pencil"></i>#}
{#						</a>#}
{#					{% if is_authorise('edit', 'OUSR') %}#}
{#						<a href="{{ path( 'app_admin_ch_password', { id: user.id } ) }}" class="btn btn-warning btn-sm"#}
{#						   data-action="modal#show" data-bs-toggle="modal" data-bs-target="#ExtralargeModal"#}
{#						   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Modifier le mot de passe"#}
{#						>#}
{#							<i class="ri ri-fingerprint-2-line"></i>#}
{#						</a>#}
{#					{% endif %}#}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="12">
					no records found
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="navigation">
	{# {{ knp_pagination_render(users, '_partials/custom_pagination/customBootstrapPaginator.html.twig') }} #}
	{{ knp_pagination_render(users) }}
</div>

{# {% include "_partials/_modal.html.twig" %} #}
