{{ form_start(form) }}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                <i class="bi bi-search m-3"></i>
                Code, Nom & Prénom
            </th>
            <th>
                <i class="bi bi-search m-3"></i>
                Role
            </th>
            <th>
                <i class="bi bi-search m-3"></i>
                PDV
            </th>
            <th>
                <i class="bi bi-search m-3"></i>
                Status
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ form_row(form.fullName, {
                    attr: {
                        'data-action': 'input->search#query'
                    }
                }) }}</td>
            <td>{{ form_row(form.role, {
                    attr: {
                        'data-action': 'change->search#selectQuery'
                    }
                }) }}</td>
            <td>{{ form_row(form.agency, {
                    attr: {
                        'data-action': 'change->search#selectQuery'
                    }
                }) }}</td>
            <td>{{ form_row(form.status, {
                    attr: {
                        'data-action': 'change->search#selectQuery'
                    }
                }) }}</td>
            <td>
                <button
                        type="submit"
                        {{ stimulus_action('search', 'sendForm') }}
                        class="btn btn-sm btn-primary rounded-circle">
                    <twig:Icon type="search"/>
                </button>
                <button
                        type="button"
                        class="btn btn-sm btn-success rounded-circle"
                        data-action="click->search#returnIndex"
                >
                    <twig:Icon type="arrow-clockwise" />
                </button>
            </td>
        </tr>
    </tbody>
</table>
{{ form_end(form) }}