<table class="table table-striped border-1 border-bottom">
        <thead class="table-dark">
            <tr>
                <th>Code</th>
                <th>Nom/Raison sociale</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Téléphone</th>
                <th>Fax</th>
                <th>Email</th>
                <th>RIB</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for donor in donors %}
            <tr>
                <td>{{ donor.extCode }}</td>
                <td>{{ donor.companyName }}</td>
                <td>{{ donor.address|slice(0,6) }}...</td>
                <td>{{ donor.city ? donor.city.name : '' }}</td>
                <td>{{ donor.city ? donor.city.country.name : '' }}</td>
                <td>{{ donor.phone1 }}</td>
                <td>{{ donor.fax }}</td>
                <td>{{ donor.mail }}</td>
                <td>{{ donor.rib }}</td>
                <td>
                    <div class="dropdown dropstart">
						<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Action
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('app_donor_show', {'id': donor.id}) }}">
									Détails Info. Donors
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path( 'app_donor_edit', { id: donor.id } ) }}">
									Modifier les informations
								</a>
							</li>
							{# <li><hr class="dropdown-divider"></li>
                            <li></li> #}
            		    </ul>
        		    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
</table>