{% extends 'base.html.twig' %}

{% block title %}Informations du doneur{% endblock %}

{% block page_title %}
    <i class="bi bi-info-circle"></i> {{ block('title') }}
{% endblock %}

{% block page_action %}
    {{ include('donor/_delete_form.html.twig') }}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ donor.extCode }}</td>
            </tr>
            <tr>
                <th>Nom ou raison social</th>
                <td>{{ donor.companyName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ donor.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ donor.city ? donor.city.name : '' }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ donor.city ? donor.city.country.name : '' }}</td>
            </tr>
            <tr>
                <th>Téléphone 1</th>
                <td>{{ donor.phone1 }}</td>
            </tr>
            <tr>
                <th>Téléphone 2</th>
                <td>{{ donor.phone2 }}</td>
            </tr>
            <tr>
                <th>Téléphone 3</th>
                <td>{{ donor.phone3 }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ donor.fax }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ donor.mail }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ donor.location }}</td>
            </tr>
            <tr>
                <th>RIB</th>
                <td>{{ donor.rib }}</td>
            </tr>
            <tr>
            <tr>
                <th>Observation</th>
                <td>{{ donor.obs }}</td>
            </tr>
                <th>Date de créat.</th>
                <td>{{ donor.createdAt ? donor.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modif</th>
                <td>{{ donor.updateAt ? donor.updateAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
