<div{{ attributes }}>
    {{ form_start(form) }}
        <div class="row">
            <div class="col">{{ form_row(form.dateOfDonation) }}</div>
            <div class="col">{{ form_row(form.dateOfReceipt) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_row(form.donor) }}</div>
            {% if form.beneficiary is defined %}
                <div class="col">{{ form_row(form.beneficiary) }}</div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-4">{{ form_row(form.paymentMethod) }}</div>
            <div class="col-6">{{ form_row(form.donAmount) }}</div>
            <div class="col-2">{{ form_row(form.donCurrency) }}</div>
        </div>
        <div class="row">
            {{ form_row(form.obs) }}
        </div>
        {{ form_widget(form) }}
         <button class="btn btn-primary">
           <i class="bi bi-sd-card"></i> {{ button_label|default('Enregistrer') }}
        </button>
        <a href="{{ path('app_donation_index') }}" class="btn btn-light">
            <i class="bi bi-arrow-left"></i>
            Retour
        </a>
    {{ form_end(form) }}
</div>
