<div{{ attributes }}>
    {{ form_start(form) }}
        <div class="row">
            {# <div class="col-2">
                {{ form_row(form.extCode) }}
            </div> #}
            <div class="col-6">
                {{ form_row(form.lastName) }}
            </div>
            <div class="col-6">
                {{ form_row(form.firstName) }}
            </div>
        </div>
        <div class="row">
            {{ form_row(form.email) }}
        </div>
        <div class="row">
            {{ form_row(form.password)}}
        </div>
        {{ form_widget(form) }}
        <button class="btn btn-primary">
            <i class="bi bi-sd-card" aria-hidden="true"></i>
            {{ button_label|default('Enregistrer') }}
        </button>
        <a href="{{ path('app_user_index') }}" class="btn btn-light">
            <i class="bi bi-arrow-left" aria-hidden="true"></i>
            Retour
        </a>
    {{ form_end(form) }}
</div>
