{% extends 'base.html.twig' %}

{% block title %}Claim{% endblock %}

{% block body %}
    <h1>Claim</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ claim.id }}</td>
            </tr>
            <tr>
                <th>DateClaim</th>
                <td>{{ claim.dateClaim ? claim.dateClaim|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateClosing</th>
                <td>{{ claim.dateClosing ? claim.dateClosing|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>TypeOfClaim</th>
                <td>{{ claim.typeOfClaim }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ claim.amount }}</td>
            </tr>
            <tr>
                <th>PasswordClaim</th>
                <td>{{ claim.passwordClaim }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ claim.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_claim_index') }}">back to list</a>

    <a href="{{ path('app_claim_edit', {'id': claim.id}) }}">edit</a>

    {{ include('claim/_delete_form.html.twig') }}
{% endblock %}
